/* ----- GENERAL ----- */

$heading-font: 'Economica', sans-serif;
$body-font: 'Alegreya Sans', sans-serif;
$maroon: #82063c;

body {
  display: flex;
  margin: 0;
  min-height: 100%;
  position: absolute;
  width: 100%;
  font-family: $body-font;
}

a {
  text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
  font-family: $heading-font;
  font-weight: initial;
}

section {
  margin: 10vh auto;

  &#home {
    margin: 0 auto 10vh;
  }

  &#contact {
    margin: 10vh auto 0;
  }
}


ul {
  list-style-type: none;
}

.center-text {
    text-align: center;
}

.section-heading {
  font-size: 6vh;
  margin-bottom: 1%;
}



/* ----- SHARED ----- */



#home, #about,
#work, #contact {
  display: flex;
  flex-direction: column;
  height: 100%;
  min-height: 100vh;
  width: 80%;
}

main {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 95vw;
}

#site-cover-div.site-cover {
  background:rgba(0,0,0,0.6);
  height: 100%;
  left:0;
  opacity: 1;
  position: absolute;
  top:0;
  -moz-transition:all 200ms ease-in;
  -webkit-transition:all 200ms ease-in;
  -o-transition:all 200ms ease-in;
  transition:all 200ms ease-in;
  width: 100%;
  z-index: 15;
}

.container {
  display: flex;
  flex-direction: row;
  height: 100%;
  min-height: 100vh;
}

.right-div,
.left-div {
  height: 100%;
  width: 50%;
  display: flex;
}

.right-div {
  align-items: center;
  flex-direction: column;
}

.left-div {
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@media (max-width: 1200px) {
  body { font-size: 16px; }

  #home .container,
  #about .container {
    flex-direction: column;
  }

  .left-div,
  .right-div {
    width: 100%;
  }
}

@media (max-width: 730px) {
  main {
    margin-top: 50px;
    width: 100vw;
  }
}



/* ----- NAVBAR ----- */



.nav {
  background-color: $maroon;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: 100vh;
  position: sticky;
  top: 0;
  width: 100px;
}

.nav-lists {
  background-color: $maroon;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: 100vh;
  left: 0;
  position: fixed;
  top: 0;
  width: 100px;
  -moz-transition:all 200ms ease-in;
  -webkit-transition:all 200ms ease-in;
  -o-transition:all 200ms ease-in;
  transition:all 200ms ease-in;
  z-index: 25;
}

.nav-links, .social-links {
  display: flex;
  flex-direction: column;
}

.nav-links {
  font-size: 16px;
}

.nav a,
.nav i {
  color: #fcfcfc;
  transition: all .1s ease-in-out;
  display: block;
}

@media (min-width: 731px) {
  .nav a:hover,
  .nav i:hover {
    color: #b5b7bc;
    transform: scale(1.2);
    -webkit-transform: scale(1.2);
    -ms-transform: scale(1.2);
  }
}

.nav li {
  margin: auto;
  display: block;
}

ul.nav-links, ul.social-links {
  padding: 0;
  height: 30%;
}

#trigger-label {
  color: #fff;
  display: none;
  margin: 0 10px;
  -moz-transition: all 200ms ease-in;
  -webkit-transition: all 200ms ease-in;
  -o-transition: all 200ms ease-in;
  transition: all 200ms ease-in;
  z-index: 30;
}

input[type="checkbox"] {
  display: none;
}


@media (max-width: 730px) {

  #trigger-label {
    display: block;
  }

  label[for="nav-trigger"]:before {
    content: '\f0c9';
    font-family: FontAwesome;
  }

  input[type="checkbox"]:checked ~ .nav-lists {
    margin: 0;
  }

  input[type="checkbox"]:checked ~ label#trigger-label {
    margin-left: 55vw;
  }

  .nav {
    align-items: center;
    flex-direction: row;
    height: 50px;
    justify-content: flex-start;
    position: fixed;
    width: 100vw;
    z-index: 20;
  }

  .nav-lists {
    background-color: #fdfdfd;
    justify-content: flex-start;
    margin: 0 0 0 -375px;
    width: 50vw;
  }

  ul.nav-links,
  ul.social-links {
    height: 40%;
    justify-content: space-between;
  }

  .nav-links li { margin: 0 10px }
  .social-links li { margin: 0 20px; }

  .nav-links li,
  .social-links li {
    font-size: 20px;
  }

  .nav-links a,
  .social-links i {
    color: $maroon;
  }
}



/* ----- HOME ----- */


#home {
  align-items: center;
  background-image: linear-gradient(to bottom, rgba(255,255,255,0),rgba(255,255,255,0.6)), url('../assets/images/mountains1.jpg');
  background-repeat: no-repeat;
  background-position: center top;
  width: 100%;
}

#home .container {
  align-items: center;
  flex-direction: column;
  width: 80%;
}

#home-photo {
  border-radius: 100%;
  display: block;
  height: 200px;
  width: auto;
}

#home h1 {
  font-size: 12vh;
  margin: 5vh auto;
}

#home h2 {
  font-size: 6vh;
  font-variant: small-caps;
  margin: 0 auto 10vh;
}

#home-description {
  color: black;
  margin: 5vh 0 15vh;
  text-shadow: 0px 0px 15px rgba(255,255,255,1);
  width: 400px;

  p {
    font-size: 20px;
    line-height: 24px;
  }
}


@media (max-width: 1200px) {

  #home {
    background-position: center;

    h1 { font-size: 38px; }
    h2 { font-size: 25px; }
  }

  #home-photo { height: 150px; }

  #home-description {
    width: 200px;
    p {
      font-size: 16px;
      text-align: justify;
    }
  }
}



/* ----- WORK ----- */



#work {
  .container {
    flex-wrap: wrap;
    justify-content: space-evenly;
    width: 100%;
  }
}

.project-box {
  border: solid 1px rgba(0,0,0,0.3);
  border-radius: 5px;
  flex: 1 400px;
  margin: 60px 20px 0;
  max-width: 675px;
}

.project {
  height: 75%;
  overflow: hidden;
  position: relative;
  z-index: 0;
  width: 100%;

  &:after {
    content: '';
    position: absolute;
    width: 100%;
    height:100%;
    top:0; left:0;
    background:rgba(0,0,0,0.6);
    opacity: 0;
    transition: all .3s;
    -webkit-transition: all .3s;
  }
}

div.project.open {
  &:after {
    content: '';
    position: absolute;
    width: 100%;
    height:100%;
    top:0; left:0;
    background:rgba(0,0,0,0.6);
    opacity: 1;
    transition: all .3s;
    -webkit-transition: all .3s;
  }

  .project-photo {
    filter: blur(1px);
  }

  .project-info {
    opacity: 1;
    z-index: 1;
  }
}

@media (min-width: 731px) {

  .project:hover:after {
    opacity: 1;
  }

  .project:hover > .project-info {
    opacity: 1;
    z-index: 1;
  }

  .project:hover > .project-photo {
    filter: blur(1px);
  }
}

.project-photo {
  object-fit: cover;
  object-position: top;
  opacity: 1;
  transition: .3s ease;
  width: 100%;
  height: 100%;
}

.project-caption {
  border-top: solid 1px rgba(0,0,0,0.3);
  display: flex;
  flex-direction: column;
  height: 25%;
  justify-content: center;

  p { padding: 0 20px; }

  h3 { margin: 0; }

  i {
    display: block;
    margin: auto 0;
    text-align: center;
    width: 25px;
    &:hover {
      cursor: pointer;
      color: $maroon;
    }
  }
}

.caption-top {
  display: flex;
  justify-content: space-between;
  padding: 0 20px;
}


.project-info {
  color: #fff;
  display: flex;
  height: 100%;
  justify-content: space-between;
  left: 0;
  opacity: 0;
  position: absolute;
  top: 0;
  transition: .3s ease;
  width: 100%;
  z-index: -1;
}

.project-icons, .side-links {
  width: 10%;
}

.project a {
  color: #fff;
}

.project-icons ul,
.side-links ul {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: space-around;
  margin: 0;
  padding: 0;
}

.logo-li {
  width: 50%;
  height: auto;
}

.logo-li.java {
  width: 70%;
}

.logo-svg {
  width: 100%;
}

.project-text {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: center;
  width: 70%;

  p { text-align: justify; }

  h2, ul { margin: 0 auto }
}

.project-text ul li {
  margin: 0.5em;
  padding-left: 1.0em;
  position: relative;

  &:before {
    content: '\27a2';
    left: -1em;
    position: absolute;
    top: 0;
  }
}

a.project-link {
  display: block;
  height: 100%;
  width: 100%;
}

@media (max-width: 1000px) {
  #work .container {
    flex-direction: column;
    flex-wrap: nowrap;
  }
}

@media (max-width: 730px) {
  .project { height: 280px; }
  .project-box { margin: 60px 0 0; }
  .project-icons { display: none; }
  .project-text {
    width: 100%;
    ul { padding-left: 20px; }
    ul li { padding-left: 0.3em; }
  }
  .project-caption p,
  .caption-top { padding: 0 10px; }
  .project-caption { height: 120px; }
  .project-info { flex-direction: column; }
  .side-links {
    bottom: 5px;
    position: absolute;
    right: 5px;
    width: 80px;
    ul {
      flex-direction: row;
      justify-content: space-between;
    }
  }
}



/* ----- ABOUT ----- */



@media (min-width: 1201px) {
  #about .right-div { width: 40%; }
}

#about .right-div {
  margin-left: auto;
  a {
    color: $maroon;
    &:hover {
      text-decoration: underline;
    }
  }
}

#about .left-div {
  justify-content: flex-start;
}

#about .left-div,
#about .right-div {
  align-items: baseline;
}

.question {
  text-align: justify;
}

.books li {
  margin: 0.5em;
  padding-left: 1.0em;
  position: relative;

  &:before {
    content: '\27a2';
    left: -1em;
    position: absolute;
    top: 0;
  }
}


.board-games {
  width: 100%;

  a {
    width: 100px;
  }
  li {
    display: flex;
  }
  p {
    margin: auto 0;
    margin-left: 20px;
  }
}

img.game-photo{
  height: auto;
  width: 100px;
}

#resume-link {
  border: 1px solid #82063c;
  border-radius: 5px;
  color: $maroon;
  padding: 10px;

  &:hover {
    color: #fff;
    background-color: $maroon;
    text-decoration: none;
  }
}

@media (max-width: 1200px) {
  .question { width: 100%; }

  .left-div,
  .right-div {
    margin: 10px 0;
  }
}

@media (max-width: 730px) {
  .books ul { padding-left: 10px;}
  .board-games ul { padding: 0; }
}


/* ----- CONTACT ----- */



#email-link {
  color: $maroon;
  &:hover {
    text-decoration: underline;
  }
}

#contact .container {
  align-items: center;
  flex-direction: column;
  justify-content: space-around;
}

.twenty-four {
  font-size: 24px
}
