/* ----- GENERAL ----- */
body {
  display: flex;
  margin: 0;
  min-height: 100%;
  position: absolute;
  width: 100%;
  font-family: "Alegreya Sans", sans-serif; }

a {
  text-decoration: none; }

h1, h2, h3, h4, h5, h6 {
  font-family: "Economica", sans-serif;
  font-weight: initial; }

section {
  margin: 10vh auto; }
  section#home {
    margin: 0 auto 10vh; }
  section#contact {
    margin: 10vh auto 0; }

ul {
  list-style-type: none; }

.center-text {
  text-align: center; }

.section-heading {
  font-size: 6vh;
  margin-bottom: 1%; }

/* ----- SHARED ----- */
#home, #about,
#work, #contact {
  display: flex;
  flex-direction: column;
  height: 100%;
  min-height: 100vh;
  width: 80%; }

main {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 95vw; }

.container {
  display: flex;
  flex-direction: row;
  height: 100%;
  min-height: 100vh; }

@media (max-width: 1200px) {
  #home .container,
  #about .container {
    flex-direction: column; } }
/* ----- NAVBAR ----- */
.nav {
  background-color: #82063c;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: 100vh;
  position: sticky;
  top: 0;
  width: 100px; }

.nav-lists {
  background-color: #82063c;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: 100vh;
  left: 0;
  position: fixed;
  top: 0;
  width: 100px;
  -moz-transition: all 200ms ease-in;
  -webkit-transition: all 200ms ease-in;
  -o-transition: all 200ms ease-in;
  transition: all 200ms ease-in;
  z-index: 25; }

.nav-links, .social-links {
  display: flex;
  flex-direction: column; }

.nav-links {
  font-size: 16px; }

.nav a,
.nav i {
  color: #fcfcfc;
  transition: all .1s ease-in-out;
  display: block; }

.nav a:hover {
  color: #b5b7bc;
  transform: scale(1.2);
  -webkit-transform: scale(1.2);
  -ms-transform: scale(1.2); }

.nav li {
  margin: auto;
  display: block; }

ul.nav-links, ul.social-links {
  padding: 0;
  height: 30%; }

#trigger-label {
  color: #fff;
  display: none;
  margin: 0 10px;
  -moz-transition: all 200ms ease-in;
  -webkit-transition: all 200ms ease-in;
  -o-transition: all 200ms ease-in;
  transition: all 200ms ease-in;
  z-index: 30; }

input[type="checkbox"] {
  display: none; }

input[type="checkbox"]:checked ~ .nav-lists {
  margin: 0; }

input[type="checkbox"]:checked ~ label#trigger-label {
  margin-left: 50vw; }

@media (max-width: 720px) {
  #trigger-label {
    display: block; }

  label[for="nav-trigger"]:before {
    content: '\f0c9';
    font-family: FontAwesome; }

  .nav {
    align-items: center;
    flex-direction: row;
    height: 50px;
    justify-content: flex-start;
    position: fixed;
    width: 100vw;
    z-index: 20; }

  .nav-lists {
    justify-content: flex-start;
    margin: 0 0 0 -125px; }

  ul.nav-links,
  ul.social-links {
    justify-content: space-between; }

  .nav-links li {
    margin: 0 10px; }

  .social-links li {
    margin: 0 20px; } }
/* ----- HOME ----- */
.right-div,
.left-div {
  height: 100%;
  width: 50%;
  display: flex; }

#home-photo {
  display: block;
  margin: auto;
  height: 60vh;
  width: auto;
  border-radius: 100%; }

.right-div {
  align-items: center;
  flex-direction: column; }

.left-div {
  flex-direction: column;
  justify-content: center;
  align-items: center; }

#home-name {
  font-size: 10vh; }

#home-title {
  font-size: 8vh; }

@media (max-width: 1200px) {
  .left-div,
  .right-div {
    width: 100%; } }
/* ----- WORK ----- */
#work .container {
  flex-wrap: wrap;
  justify-content: space-evenly;
  width: 100%; }

.project-box {
  border: solid 1px rgba(0, 0, 0, 0.3);
  border-radius: 5px;
  flex: 1 500px;
  margin: 60px 20px 0;
  max-width: 675px; }

.project {
  height: 75%;
  overflow: hidden;
  position: relative;
  z-index: 0;
  width: 100%; }
  .project:after {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.6);
    opacity: 0;
    transition: all .3s;
    -webkit-transition: all .3s; }

.project:hover:after {
  opacity: 1; }

.project:hover > .project-info {
  opacity: 1;
  z-index: 1; }

.project:hover > .project-photo {
  filter: blur(1px); }

.project-photo {
  object-fit: cover;
  object-position: top;
  opacity: 1;
  transition: .3s ease;
  width: 100%;
  height: 100%; }

.project-caption {
  border-top: solid 1px rgba(0, 0, 0, 0.3);
  display: flex;
  flex-direction: column;
  height: 25%;
  justify-content: center; }
  .project-caption p {
    padding: 0 20px; }
  .project-caption h3 {
    margin: 0; }
  .project-caption i {
    margin: auto 0; }

.caption-top {
  display: flex;
  justify-content: space-between;
  padding: 0 20px; }

.project-info {
  color: #fff;
  display: flex;
  height: 100%;
  justify-content: space-between;
  left: 0;
  opacity: 0;
  position: absolute;
  top: 0;
  transition: .3s ease;
  width: 100%;
  z-index: -1; }

.project-icons, .side-links {
  width: 10%; }

.project a {
  color: #fff; }

.project-icons ul,
.side-links ul {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: space-around;
  margin: 0;
  padding: 0; }

.logo-li {
  width: 50%;
  height: auto; }

.logo-li.java {
  width: 70%; }

.logo-svg {
  width: 100%; }

.project-text {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: center;
  width: 70%; }
  .project-text p {
    text-align: justify; }
  .project-text h2, .project-text ul {
    margin: 0 auto; }

.project-text ul li {
  margin: 0.5em;
  padding-left: 1.0em;
  position: relative; }
  .project-text ul li:before {
    content: '\27a2';
    left: -1em;
    position: absolute;
    top: 0; }

a.project-link {
  display: block;
  height: 100%;
  width: 100%; }

@media (max-width: 1000px) {
  #work .container {
    flex-direction: column;
    flex-wrap: nowrap; } }
/* ----- ABOUT ----- */
#about .right-div a {
  color: #82063c; }
  #about .right-div a:hover {
    text-decoration: underline; }

#about .left-div {
  justify-content: flex-start; }

#about .left-div,
#about .right-div {
  align-items: baseline; }

.question {
  width: 90%; }

.books li {
  margin: 0.5em;
  padding-left: 1.0em;
  position: relative; }
  .books li:before {
    content: '\27a2';
    left: -1em;
    position: absolute;
    top: 0; }

.board-games {
  width: 100%; }
  .board-games a {
    width: 30%; }
  .board-games li {
    display: flex; }
  .board-games p {
    margin: auto 0; }

img.game-photo {
  height: 18vh;
  width: auto; }

#resume-link {
  border: 1px solid #82063c;
  border-radius: 5px;
  color: #82063c;
  padding: 10px; }
  #resume-link:hover {
    color: #fff;
    background-color: #82063c;
    text-decoration: none; }

@media (max-width: 1200px) {
  .question {
    width: 100%; }

  .left-div,
  .right-div {
    margin: 10px 0; } }
/* ----- CONTACT ----- */
#email-link {
  color: #82063c; }
  #email-link:hover {
    text-decoration: underline; }

/*# sourceMappingURL=output.css.map */
